<header id="main-header">
        <h1>Doc-Site</h1>
        <nav id="main-nav">
            <ul class="main-nav-list">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/new">New doc page</a>
                </li>
                <li>
                    <a href="login">Login</a>
                </li> 
            </ul>
        </nav>
</header>
<div id="content">
    <div id="side-panel">
        <h1>Pages</h1>
        <div id="pageLinks">
            <a href="#taget">target</a>
            <a href="#taget">target</a>
            <a href="#taget">target</a>
            <a href="#taget">target</a>
        </div>
    </div>  
    <div id="main-content">

    